<h1>Assign Subject to teacher</h1>

<%= form_with scope: :teacher_subject, url: create_teacher_subject_path(@rc_teacher), local: true do |f| %>
  <% if @rc_courses.any? %>
    <% @rc_courses.each do |rc_course| %>
      <div>
        <h5><%= rc_course.course.name %></h5>
        <% rc_course.course.subjects.each do |subject| %>
          <div>
            <% teacher_subject = @rc_teacher.teacher_subjects.find_by(subject_id: subject.id) %>
            <%= f.check_box :subject_id, { multiple: true, disabled: teacher_subject.present? }, subject.id, false %>
            <%= f.label :subject_id, subject.name%>
            <% if teacher_subject.present? %>
              <span class='text-muted'>(Assigned)</span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit "Assign Selected Subjects" %>
<% end %>
