<div>
  <% @students.each do |student|%>
    <div class="list-group">
      <div class="list-group-item list-group-item-action" aria-current="true">
        
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1"><%= student.firstname.capitalize %> <%= student.lastname.capitalize %></h4>
          <small style="color:blue;"><%= student.status.capitalize %></small>
        </div>
        
        <div class="d-flex w-100 justify-content-between">
          <%= student.username.capitalize %>
          <%= link_to approve_users_path(student.id), method: :patch do %><button class="btn btn-md btn-primary">Approve</button><% end %>
        </div>
          
        <div class="d-flex w-100 justify-content-between">
          <small><%= student.email %></small><br/>
          <small>><%= student.type %></small>
        </div>
        
        <div class="d-flex w-100 justify-content-between">
          <small class="text-muted">Created: <%= student.created_at.strftime("%A %b %e, %Y ") %></small>
          <small class="text-muted">Updated: <%= student.updated_at.strftime("%A %b %e, %Y ") %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
