<div class="container">
  <table class="table table-striped">
    <h1>Review Center Details</h1>
    <%= link_to admin_users_list_path do %><button class="btn btn-md btn-secondary">Back</button><% end %>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Teacher</th>
        <th scope="col">Lessons</th>
        <th scope="col">Courses</th>
        <th scope="col">Subjects</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each do |lesson|%>
          <% if @user.status == "active" %>
            <tr>
              <td class="border-0 align-middle"><strong><%= "#{lesson.teacher_subject.rc_teacher.teacher.lastname}, #{lesson.teacher_subject.rc_teacher.teacher.firstname}" %></strong></td>
              <th scope="row" class="border-0">
                <div class="p-2">
                  <% if lesson.thumbnail.attached? %>
                      <%= image_tag url_for(lesson.thumbnail), style: "width:100px; margin-right: 40px;"%>
                  <% end %>
                </div>
                <td class="border-0 align-middle"><strong><%= lesson.rc_course.course.name %></strong></td>
                <td class="border-0 align-middle"><strong><%= lesson.teacher_subject.subject.name %></strong></td>
              </th>
            </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>
</div>
