<div class="container">
  <table class="table table-striped">
    <h1>Student List</h1>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Status</th>
        <th scope="col">Role</th>
        <th scope="col">Created Since</th>
        <th scope="col">Updated Since</th>
      </tr>
    </thead>
    <tbody>
    <% @students.each do |student|%>
      <tr>
        <th scope="row"><%= student.email %></th>
        <th scope="row"><%= student.username %></th>
        <th scope="row"><%= student.firstname %></th>
        <th scope="row"><%= student.lastname %></th>
        <th scope="row" style="color:<%= student.status == 'active' ? 'green' : 'blue' %>;"><%= student.status.capitalize %></th>
        <th scope="row"><%= student.type %></th>
        <th scope="row"><%= student.created_at.strftime("%A %b %e, %Y ") %></th>
        <th scope="row"><%= student.updated_at.strftime("%A %b %e, %Y ") %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>