<div class="container">
  <table class="table table-striped">
    <h1>Teacher Details</h1>
    <%= link_to admin_users_list_path do %><button class="btn btn-md btn-secondary">Back</button><% end %>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Review Center</th>
        <th scope="col">Lessons</th>
        <th scope="col">Courses</th>
        <th scope="col">Subjects</th>
      </tr>
    </thead>
    <tbody>
     <% @lessons.each do |lesson|%>
        <% if @user.type == "Teacher" %>
          <tr>
            <% @review_centers.each do | review_center | %>
              <td class="border-0 align-middle"><strong><%= review_center.name %></strong></td>
            <% end %>
            <th scope="row" class="border-0">
              <div class="p-2">
                <% if lesson.thumbnail.attached? %>
                    <%= image_tag url_for(lesson.thumbnail), style: "width:100px; margin-right: 40px;"%>
                <% end %>
                <strong><%= lesson.name %></strong>
              </div>
              <td class="border-0 align-middle"><strong><%= lesson.rc_course.course.name %></strong></td>
              <td class="border-0 align-middle"><strong><%= lesson.teacher_subject.subject.name %></strong></td>
            </th>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
