<div class="container">
  <table class="table table-striped">
    <h1>Student Transactions</h1>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Lesson Name</th>
        <th scope="col">Details</th>
        <th scope="col">Price</th>
        <th scope="col">Buyer</th>
        <th scope="col">Seller</th>
        <th scope="col">Date of transaction</th>
      </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction|%>
      <tr>
        <th scope="row"><%= transaction.name %></th>
        <th scope="row"><%= transaction.details %></th>
        <th scope="row"><%= transaction.price %></th>
        <th scope="row"><%= transaction.user.email %></th>
        <th scope="row"><%= transaction.lesson.teacher_subject.rc_teacher.user.email %></th>
        <th scope="row"><%= transaction.created_at.strftime("%A %b %e, %Y ") %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
