<main>
  <section class="text-center container">
    <div class="row py-lg-4 text-center container">
      <div class="col-lg-6 col-md-8 mx-auto">
        <%= image_tag "GoLearning.png" %>
        <p class="lead text-muted">Learning is the process of acquiring new understanding, knowledge, behaviors, skills, values, attitudes, and preferences. The ability to learn is possessed by humans, animals, and some machines; there is also evidence for some kind of learning in certain plants.</p>
        <p>
          <%= link_to 'Get Started', new_user_session_path, class:"btn btn-primary my-2" %>
          <a href="#" class="btn btn-secondary my-2"><i class="fas fa-cart-plus"> </i> Shop now</a>
        </p>
      </div>
    </div>

     <!--
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      
      <div class="carousel-inner w-50 px-2">
        <div class="carousel-item active" data-bs-interval="10000">
          <%= image_tag "GoLearning.png", class:"d-block w-100" %>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <%= image_tag "slide1.png", class:"d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "Users.png", class:"d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "ReviewCenter.png", class:"d-block w-100" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    -->
  </section>

<div class="album py-5 bg-white">
  <div class="container">

    <% if params[:search]%>
      <% if !@results.length.zero? %>
        <h1>Search Result</h1><br>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% @results.each do |result|%>
            <div class="col">
              <div class="card shadow-sm">
                  <% if result.thumbnail.attached? %>
                      <%= image_tag url_for(result.thumbnail), height: '250', width: '50', class: "card-img-top"%>
                    <% end %>
                <div class="card-body">
                  <h4 class="card-text"><%= result.name %></h3>
                  <h3 class="card-text"><%= result.price.to_i %> PHP </h3>
                  <h3 class="card-text"><%= result.price.to_i %> PHP </h3>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to lesson_details_path(result.teacher_subject.subject.name.split(' ').join, result.teacher_subject.subject.course_id, result.id) do %><button type="button" class="btn btn-md btn-primary"><i class="fas fa-eye"> </i> View</button><% end %>
                    </div>
                    <small class="text-muted"><strong>Uploaded Since </strong> <%= result.created_at.strftime("%A %b %e, %Y ") %></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div><br><br>
      <% else %>
        <h1>No result found.. </h1><br><br>
      <%end%>
    <% end %>

    <h1>Lessons</h1><br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @lessons.each do |lesson|%>
        <div class="col">
          <div class="card shadow-sm">
                <% if lesson.thumbnail.attached? %>
                  <%= image_tag url_for(lesson.thumbnail), height: '250', width: '50', class: "card-img-top"%>
                <% end %>
            <div class="card-body">
              <h4 class="card-text"><%= lesson.name %></h3>
              <h3 class="card-text"><%= lesson.price.to_i %> PHP </h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to lesson_details_path(lesson.teacher_subject.subject.name.split(' ').join, lesson.teacher_subject.subject.course_id, lesson.id) do %><button type="button" class="btn btn-md btn-primary"><i class="fas fa-eye"> </i> View</button><% end %>
                </div>
                <small class="text-muted"><strong>Uploaded Since </strong> <%= lesson.created_at.strftime("%A %b %e, %Y ") %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

