<main>
  <section class="text-center container" >
    <div class="row py-lg-4 text-center container">
      <div class="col-lg-6 col-md-8 mx-auto">
        <%= image_tag "GoLearning.png" %>
        <p class="lead text-muted">Learning is the process of acquiring new understanding, knowledge, behaviors, skills, values, attitudes, and preferences. The ability to learn is possessed by humans, animals, and some machines; there is also evidence for some kind of learning in certain plants.</p>
        <p>
          <%= link_to 'Get Started', new_user_session_path, class:"btn btn-primary my-2", style: "font-weight:600 !important;" %>
          <a href="#lessons" class="btn btn-secondary my-2" style="font-weight:600 !important;"> Shop now</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light" id="lessons" style="background-color:#ecd0a9;">
    <div class="container">
      <% if params[:search]%>
        <% if !@results.length.zero? %>
          <%= render 'search_lessons', { lessons: @results} %>
        <% else %>
          <h1>No result found.. </h1><br><br>
        <%end%>
      <% end %>

      <div class="d-flex flex-wrap" >
        <button id="all_lesson_btn" style="margin-right:20px; margin-bottom:20px; font-weight:600 !important;" class="btn btn-md btn-dark rounded-pill">All Lessons</button>
        <button id="all_lesson_by_ratings_btn" style="margin-right:20px; margin-bottom:20px; font-weight:600" class="btn btn-md btn-dark rounded-pill">By Ratings</button>
        <button id="all_lesson_by_count_btn" style="margin-right:20px; margin-bottom:20px; font-weight:600" class="btn btn-md btn-dark rounded-pill">By Count</button>
        <button id="all_lesson_by_new_btn" style="margin-right:20px; margin-bottom:20px; font-weight:600" class="btn btn-md btn-dark rounded-pill">By New</button>
        <button id="all_lesson_by_old_btn" style="margin-right:20px; margin-bottom:20px; font-weight:600" class="btn btn-md btn-dark rounded-pill">By Old</button>
      </div><br><br>
      
      <%= render 'lessons', { lessons: @lessons} %>
      <%= render 'lessons_by_ratings', { lessons: @lessons_by_ratings} %>
      <%= render 'lessons_by_count', { lessons: @lessons_by_review_counts} %>
      <%= render 'lessons_by_new', { lessons: @all_new_lessons} %>
      <%= render 'lessons_by_old', { lessons: @all_old_lessons} %>
      <%= render 'about_us' %>
      <%= render 'developer_team' %>
    </div>
  </div>
</main>

<script>
  // const all_lesson = document.getElementById('all_lesson')
  // const all_lesson_by_ratings = document.getElementById('all_lesson_by_ratings')
  // const all_lesson_by_count = document.getElementById('all_lesson_by_count')
  // const all_lesson_by_new = document.getElementById('all_lesson_by_new')
  // const all_lesson_by_old = document.getElementById('all_lesson_by_old')

  all_lesson_by_ratings.style.display = "none"
  all_lesson_by_count.style.display = "none"
  all_lesson_by_new.style.display = "none"
  all_lesson_by_old.style.display = "none"

  document.getElementById("all_lesson_btn").addEventListener("click", function() {
    all_lesson.style.display = 'block'
    all_lesson_by_ratings.style.display = "none"
    all_lesson_by_count.style.display = "none"
    all_lesson_by_new.style.display = "none"
    all_lesson_by_old.style.display = "none"
  });

  document.getElementById("all_lesson_by_ratings_btn").addEventListener("click", function() {
    all_lesson_by_ratings.style.display = 'block'
    all_lesson.style.display = 'none'
    all_lesson_by_count.style.display = "none"
    all_lesson_by_new.style.display = "none"
    all_lesson_by_old.style.display = "none"
  });

    document.getElementById("all_lesson_by_count_btn").addEventListener("click", function() {
    all_lesson_by_count.style.display = "block"
    all_lesson.style.display = 'none'
    all_lesson_by_ratings.style.display = 'none'
    all_lesson_by_new.style.display = "none"
    all_lesson_by_old.style.display = "none"
  });

  document.getElementById("all_lesson_by_new_btn").addEventListener("click", function() {
    all_lesson_by_new.style.display = "block"
    all_lesson_by_ratings.style.display = 'none'
    all_lesson_by_count.style.display = "none"
    all_lesson.style.display = 'none'
    all_lesson_by_old.style.display = "none"
  });

  document.getElementById("all_lesson_by_old_btn").addEventListener("click", function() {
    all_lesson_by_old.style.display = "block"
    all_lesson.style.display = 'none'
    all_lesson_by_ratings.style.display = 'none'
    all_lesson_by_count.style.display = 'none'
    all_lesson_by_new.style.display = "none"
  });
</script>
