<main class="form-signin text-center shadow-lg p-3 mb-5 rounded">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h1 class="h3 mb-3 fw-normal">Forgot your password?</h1>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control shadow-none', id: 'floatingInput' %>
      <%= f.label :email, for: 'floatingInput' %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: 'w-100 btn btn-md btn-primary mt-2' %> 
    </div><br>
    
  <% end %>

  <%= render "devise/shared/links" %>

</main>
