<h1 class="container text-center "><%= current_review_center.name.upcase %></h1>

<div class="container">
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
  <%= image_tag "courses-offered.png", class: "card-img-top" %>
    <% if @rc_courses.any? %>
      <% @rc_courses.each do |rc_course| %>
        <div class="col">
          <div >
            <%= link_to rc_course_path(rc_course) do %> 
              <h5 class="card-title btn btn-outline-success bg-gradient d-block"><%= rc_course.course.name %></h5>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

<div class="container">
  <div class=" mt-5 w-100"><h1>Recently uploaded lessons</h1></div>
  <div class="container">
    <% if @recently_uploaded_lessons.any? %>
      <%= render 'rc_pages/shared/lessons', lessons: @recently_uploaded_lessons %>
      <% else %>
    <% end %>
  </div>
  
</div>
