<div class="container">
  <%= link_to "Back", :back, class: 'w-20 btn btn-lg btn-secondary mt-2' %><br><br>

  <div>
    <div>
      <% if @enrolled_lessons.count.zero? %>
        <span>No student has purchased this lesson yet.</span>
      <% else %>
        <%= pluralize(@enrolled_lessons.count, 'student') %> purchased this lesson.</h5>
      <% end %>
    </div>
  </div>
   
  <% if @lesson.video.attached? %>
    <div class="container__video">
      <%= video_tag url_for(@lesson.video), controls: true, controlsList: "nodownload", poster: url_for(@lesson.thumbnail), class: "content__video" %>
    </div>
  <% end %>

  <h3 class="mt-3 mb-0"><%= @lesson.name %></span> | <%= @subject.name %> | <%= number_to_currency(@lesson.price_cents, unit: '$ ') %> | <%= @lesson.details %></h3>
  <div class="text-muted">Title | Subject | Price | Details</div>

</div>

<div class="container mt-5">
  <h1>Other lessons for this subject</h1>
  <% if @related_lessons.any? %>
    <%= render 'rc_pages/shared/lessons', lessons: @related_lessons %>
  <% else %>
    <span>No other lessons uploaded for this subject.</span>
  <% end %>
</div>
