<div class="container">
  <%= link_to "Sell New Lesson", new_rc_lesson_path, class: 'w-20 btn btn-lg btn-warning mt-2' %><br><br>
  <% if @lessons.any? %>
    <h1>All lessons here</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @lessons.each do |lesson| %>
          <div class="col">
            <div class="card shadow-sm">
              <% if lesson.thumbnail.attached? %>
                <%= image_tag url_for(lesson.thumbnail), class: "card-img-top", height: '250', width: '50' %>
              <% end %>

              <div class="card-body">
                <h5 class="card-title"><%= lesson.name %></h5>
                <p class="card-text"><%= lesson.details %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'View', rc_lesson_path(@review_center, lesson), type: "button", class: "btn btn-sm btn-outline-secondary" %>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  <% else %>
    <h5>You don't have any uploaded lessons.</h5>
  <% end %>
</div>
