<div class="container">
  <h1><%= @teacher_subject.subject.name %></h1>
  <div>
    <h2>Title</h2>
    <span><%= @lesson.name %></span>
  </div>
   
  <% if @lesson.video.attached? %>
    <%= cl_video_tag url_for(@lesson.video), controls: true, controlsList: "nodownload", poster: url_for(@lesson.thumbnail), style: 'height:10%; width:30%;' %>
  <% end %>

  <div>
    <h1>Price</h1>
    <span><%= number_to_currency(@lesson.price_cents, unit: '$ ') %></span>
  </div>

  <div>
    <h2>Details</h2>
    <span><%= @lesson.details %></span>
  </div>
  <%= link_to "Back", rc_teacher_lessons_path, class: 'w-20 btn btn-lg btn-secondary mt-2' %><br><br>
</div>

<div class="container">
  <h1>Other lessons for this subject</h1>
  <% if @related_lessons.any? %>
    <%= render 'lessons/shared/lessons', lessons: @related_lessons %>
  <% else %>
    <span>No other lessons uploaded for this subject.</span>
  <% end %>
</div>
