<div class="container">
  <%= link_to "Back", rc_teacher_lessons_path, class: 'w-20 btn btn-lg btn-secondary mt-2' %><br><br>
  <% if @lesson.video.attached? %>
    <div class="container__video">
      <%= cl_video_tag url_for(@lesson.video), controls: true, controlsList: "nodownload", poster: url_for(@lesson.thumbnail), class: "content__video" %>
    </div>
  <% end %>

  <h3 class="mt-3 mb-0"><%= @lesson.name %></span> | <%= @teacher_subject.subject.name %> | <%= number_to_currency(@lesson.price_cents, unit: '$ ') %> | <%= @lesson.details %></h3>
  <div class="text-muted">Title | Subject | Price | Details</span>

</div>

<div class="container mt-5">
  <h1>Other lessons for this subject</h1>
  <% if @related_lessons.any? %>
    <%= render 'lessons/shared/lessons', lessons: @related_lessons %>
  <% else %>
    <span>No other lessons uploaded for this subject.</span>
  <% end %>
</div>
