<div class="container">
  <h1>Add courses to "<%= current_review_center.name.capitalize %>"</h1>
  
  <%= form_with scope: :rc_course, url: create_rc_course_path, local: true do |f| %>
    <% if @courses.any? %>
      <ul class="list-group list-group-flush course__assign">
        <% @courses.each do |course| %>
          <li class="list-group-item bg-transparent">
            <% rc_course = current_review_center.rc_courses.find_by(course_id: course.id) %>
            <%= f.check_box :course_id, { multiple: true, disabled: rc_course.present? }, course.id, false %>
            <%= f.label :course_id, course.name%>
            <% if rc_course.present? %>
              <span class='text-muted'>(Added)</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  
    <%= f.submit "Add Selected Courses", class: "btn btn-warning mb-2 mt-2" %>
  <% end %>
</div>
