<div class="container">
  <h1 class="card text-center bg-dark bg-gradient text-light" style="padding:10px 0px ;">Lesson Details</h1>
  <div class="row" style="margin-top:25px;">
    <div class="col-md-8 mx-auto">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style=" background-color: #ffff !important;">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="card-title mb-3"><%= @lesson.name %></h3>
          <BLOCKQUOTE class="card-text mb-2">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</BLOCKQUOTE>
          <h2 class="card-text"><span></span>$ <%= @lesson.price_cents %></h2>
          <div class="d-flex justify-content-between mb-2">
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= @lesson.review_score_percentage %>%; color:#ffcc33 !important;">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
            <div class="average-score-display mr-3 pt-2" style="margin-right:8px !important; margin-left:-10px;">
              <p ><%= @lesson.avg_score %> Ratings </p> 
            </div>
            <div class="average-score-display ml-3 pt-2">
              <%= link_to reviews_path(@lesson.id) do %> <p><%= @lesson.reviews.count %> reviews </p> <% end %>
            </div>
          </div>
          <div style="display:flex; justify-content:space-between;">
            <%= link_to add_to_cart_path(@lesson.id), method: :post do %> <button type="button" class="btn btn-sm btn-primary"> Add to cart</button><% end %>
            <% if current_user %>
              <% if current_user.type == "Student" %>
                <%= button_to 'Buy now', checkout_create_path, method: :post, params: {id: @lesson.id}, remote: true, class: 'btn btn-sm btn-warning' %> 
              <% end %>
            <% end %>
              <%= link_to new_review_path(@lesson.id) do %> <button type="button" class="btn btn-sm btn-success"> Add Reviews</button><% end %>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <% if @lesson.thumbnail.attached? %>
              <%= image_tag url_for(@lesson.thumbnail), class: "bd-placeholder-img mt-4", height: '300', width: '310', style: 'padding-bottom:25px;padding-right:20px;'  %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch " style="height:40vh; margin-top:30px;">
      <div class="col-md-6" style="margin-bottom:30px;">
        <div class="h-100 p-5 border rounded-3 d-flex align-items-center" style=" background-color: #ffff !important;">
          <div class="col-sm-6">
              <h1 style="">Other Details</h1>
            <p><strong class="text-primary">Review Center :</strong> <%= @lesson.teacher_subject.rc_teacher.review_center.name.capitalize %></p>
            <p><strong class="text-primary">Instructor : </strong> <%= @lesson.teacher_subject.rc_teacher.user.firstname.capitalize + ' ' +  @lesson.teacher_subject.rc_teacher.user.lastname.capitalize %></p>
          </div>
         
        </div>
      </div>
      <div class="col-md-6" style="margin-bottom:30px;">
         <div class="h-100 p-5 bg-white border rounded-3  d-flex">
          <div class="col-sm-6">
            <h2>Subject</h2>
            <p><%= @lesson.teacher_subject.subject.name %></p>
            <h2>Course</h2>
            <p><%= @lesson_details.name %></p>
          </div>
          <div class="col-sm-6">
            <h2>lessons</h2>
             <div class="digg_pagination">
              <%= will_paginate @lessons, class: 'text-xl' %>
            </div><br>
            <% @lessons.each do |lesson| %>
              <%= link_to paid_lesson_access_path(lesson.id) do %> <button class="text-success m-1" style="background:none; border:none; text-decoration:underline;"><%= lesson.name %></button> <% end %>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
