<div class="container">
  <h1 class="text-center">Lesson Details</h1>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="card-title mb-3"><%= @lesson.name %></h3>
          <BLOCKQUOTE class="card-text mb-auto">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</BLOCKQUOTE>
          <h2 class="card-text"><span>₱ </span><%= @lesson.price.to_i %></h2>
          <div style="display:flex; justify-content:space-between;">
            <%= link_to add_to_cart_path(@lesson.id), method: :post do %> <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-shopping-basket"> </i> Add to cart</button><% end %>
            <% if current_user %>
              <%= button_to 'Buy now', checkout_create_path, method: :post, params: {id: @lesson.id}, remote: true, class: 'btn btn-sm btn-warning' %> 
            <% end %>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <% if @lesson.thumbnail.attached? %>
              <%= image_tag url_for(@lesson.thumbnail), class: "bd-placeholder-img", height: '310', width: '200' %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 border rounded-3 d-flex">
          <div class="col-sm-6">
            <h2>Other Details</h2>
            <p><strong class="text-primary">Review Center :</strong> <%= @lesson.teacher_subject.rc_teacher.review_center.name.capitalize %></p>
            <p><strong class="text-primary">Instructor : </strong> <%= @lesson.teacher_subject.rc_teacher.user.firstname.capitalize + ' ' +  @lesson.teacher_subject.rc_teacher.user.lastname.capitalize %></p>
          </div>
          <div class="col-sm-6">
            <h2>Course</h2>
            <p><%= @lesson_details.name %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-white border rounded-3  d-flex">
          <div class="col-sm-6">
            <h2>Subject</h2>
            <p><%= @lesson.teacher_subject.subject.name %></p>
          </div>
          <div class="col-sm-6">
            <h2>lessons</h2>
            <% @lessons.each do |lesson| %>
              <%= link_to paid_lesson_access_path(lesson.id) do %> <button class="btn btn-success"><%= lesson.name %></button> <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
