<div class="container">
  <div class="text-white text-center">
    <h1 class="card text-center bg-dark bg-gradient text-light" style="padding:10px 0px ;">Paid Lesson</h1>
  </div>
  
  <%= link_to my_lessons_path do%><button class="btn btn-dark">Back</button><% end %>
  <br>
  <br>
    <div>
      <h2>Star Ratings</h2>
      <div class="star-rating mb-2 ">
      <div class="star-rating-front" style="width: <%= @lesson.review_score_percentage %>%; color:yellow !important;" >★★★★★</div>
      <div class="star-rating-back">★★★★★</div>
    </div>

    <div class="d-flex justify-content-center ">
      <div>
        </div>
          <% if @lesson.video.attached? %>
            <%= cl_video_tag url_for(@lesson.video), controls: true, controlsList: "nodownload", poster: url_for(@lesson.thumbnail), width:"1600", height: "500" %>
          <% end %>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container d-flex" style="" >
      <div style="flex:0.3;">
        <div class="">
        <h2 class="text-primary">Lesson</h2>
          <h4>Title: <%= @lesson.name %></h4>
          <h4>Course: <%= @lesson.rc_course.course.name %></h4>
          <h4>Subject: <%= @lesson.teacher_subject.subject.name %></h4>
        </div>

        <div class="average-score-display mr-3 pt-2" >
          <h2  class="text-primary">Total Ratings</h2>
          <p ><%= @lesson.avg_score %> Rate </p> 
        </div>
      </div>

      <div style="flex:0.3;">
        <div>
          <h2  class="text-primary">Instructor</h2>
          <p><strong class="text-primary"></strong> <%= @lesson.teacher_subject.rc_teacher.user.firstname.capitalize + ' ' +  @lesson.teacher_subject.rc_teacher.user.lastname.capitalize %></p>
        </div>

        <div>
          <h2  class="text-primary">Review Center</h2>
          <p><strong class="text-primary"></strong> <%= @lesson.teacher_subject.rc_teacher.review_center.name.capitalize %></p>
        </div>

        <div>
          <h2  class="text-primary">Price</h2>
          <span><%= number_to_currency(@lesson.price_cents, unit: '$ ') %></span>
        </div>
      </div>

      <div style="flex:0.3;">
        <div>
          <h2  class="text-primary">Description</h2>
          <p><%= @lesson.details %></p>
        </div>
      </div>
    </div>
</div>