<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container-fluid">

    <%= link_to image_tag('GoLearning.png', id: "drag1") , root_path, class:"navbar-brand", style: 'width:200px;' %>
    <%# <%= render 'public_pages/courses' %>
    <%= form_tag(root_path, method: :get, class: 'd-flex', style: 'width:35%;') do %>
      <%= search_field_tag :search, params[:search], class: 'form-control me-2 rounded-pill', placeholder: 'Search Lesson Here...', :required => true %>
      <% button_tag "Search" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0 w-100 d-flex justify-content-evenly">
      
        <% if current_review_center %>

          <li class="nav-item">
            <%= link_to 'Home', authenticated_rc_root_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Teachers', teachers_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Courses', new_rc_course_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Edit Account', edit_review_center_registration_path, class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Sign out', destroy_review_center_session_path, method: :delete, class:"dropdown-item" %></a></li>
            </ul>
          </li>

        <% elsif current_user %>

          <% if current_user.type == "Student" %>

            <li class="nav-item">
              <%= link_to 'Home', root_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to 'Shopping Cart', user_carts_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to 'Enrolled Lessons', my_lessons_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to 'Transactions', my_transactions_path, class:"nav-link" %>
            </li>


          <% elsif current_user.type == "Teacher" %>

            <li class="nav-item">
              <%= link_to 'My Portal', teacher_home_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to 'Invitations', invitations_path, class:"nav-link btn" %>
            </li>

          <% elsif current_user.type == "Admin" %>
            
            <%= link_to 'Dashboard', admin_path, class:"nav-link active d-inline" %>
            
            <li class="nav-item">
              <%= link_to 'Transactions', admin_transactions_path, class:"nav-link" %>
            </li>

          <% end %>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Edit Account', edit_user_registration_path, class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"dropdown-item" %></a></li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to 'Home', root_path, class:"nav-link " %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Review Center', new_review_center_session_path, class:"nav-link" %>
          </li>
          
        <% end %>

      </ul>

    </div>
  </div>
</nav> 
